.about {
    margin: 20px;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2em;
  }
  
  .about p {
    font-size: 1.2em;
  }

  .about ul li {
    list-style-type: none;
    align-items: center;
    font-size: 1.2em;
  }


  